.icon-share .path1:before {
  content: "\e943";
  color: rgb(141, 163, 172);
}
.icon-share .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-tick:before {
  content: "\e947";
  color: #fff;
}
.icon-view:before {
  content: "\e948";
  color: #fff;
}
.icon-arrow-high:before {
  content: "\e945";
  color: #fff;
}
.icon-arrow-low:before {
  content: "\e946";
  color: #fff;
}
.icon-arrow:before {
  content: "\e900";
  color: #fff;
}
.icon-caution:before {
  content: "\e901";
  color: #ffc700;
}
.icon-check:before {
  content: "\e902";
  color: #00c44e;
}
.icon-compas:before {
  content: "\e903";
  color: #fff;
}
.icon-cross:before {
  content: "\e904";
}
.icon-discord:before {
  content: "\e905";
  color: #4aacd8;
}
.icon-down:before {
  content: "\e906";
  color: #4aacd8;
}
.icon-email-fill .path1:before {
  content: "\e907";
  color: rgb(234, 65, 52);
}
.icon-email-fill .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Ethereum .path1:before {
  content: "\e909";
  color: rgb(181, 150, 235);
}
.icon-Ethereum .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(181, 150, 235);
}
.icon-Ethereum .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(129, 84, 223);
}
.icon-Ethereum .path4:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(129, 84, 223);
}
.icon-Ethereum .path5:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(60, 31, 125);
}
.icon-Ethereum .path6:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(129, 84, 223);
}
.icon-Ethereum .path7:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-facebook:before {
  content: "\e910";
  color: #fff;
}
.icon-facebook-fill .path1:before {
  content: "\e911";
  color: rgb(16, 146, 238);
}
.icon-facebook-fill .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-flag:before {
  content: "\e913";
  color: #fff;
}
.icon-focus:before {
  content: "\e914";
  color: #fff;
}
.icon-go-fill .path1:before {
  content: "\e915";
  color: rgb(141, 163, 172);
}
.icon-go-fill .path2:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-hand .path1:before {
  content: "\e917";
  color: rgb(255, 255, 255);
}
.icon-hand .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(6, 6, 28);
}
.icon-hand .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(6, 6, 28);
}
.icon-hand .path4:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(6, 6, 28);
}
.icon-hand .path5:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(6, 6, 28);
}
.icon-home:before {
  content: "\e91c";
  color: #4aacd8;
}
.icon-info:before {
  content: "\e91d";
  color: #4aacd8;
}
.icon-insta-fill .path1:before {
  content: "\e91e";
  color: rgb(197, 51, 145);
}
.icon-insta-fill .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-instagram:before {
  content: "\e920";
  color: #fff;
}
.icon-key:before {
  content: "\e921";
  color: #fff;
}
.icon-left-arrow:before {
  content: "\e922";
  color: #8da3ac;
}
.icon-linkedin:before {
  content: "\e923";
  color: #fff;
}
.icon-linkedin-fill .path1:before {
  content: "\e924";
  color: rgb(16, 116, 175);
}
.icon-linkedin-fill .path2:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-location:before {
  content: "\e926";
  color: #fff;
}
.icon-logout:before {
  content: "\e927";
  color: #4aacd8;
}
.icon-messanger-fill .path1:before {
  content: "\e928";
  color: rgb(29, 171, 243);
}
.icon-messanger-fill .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-messenger:before {
  content: "\e92a";
  color: #fff;
}
.icon-minus:before {
  content: "\e92b";
  color: #fff;
}
.icon-navi:before {
  content: "\e92c";
  color: #fff;
}
.icon-NFT-cross:before {
  content: "\e92d";
  color: #4aacd8;
}
.icon-plus:before {
  content: "\e92e";
  color: #fff;
}
.icon-right-arrow:before {
  content: "\e92f";
  color: #8da3ac;
}
.icon-shop:before {
  content: "\e930";
  color: #4aacd8;
}
.icon-success:before {
  content: "\e931";
  color: #00c44e;
}
.icon-tiktok:before {
  content: "\e932";
  color: #fff;
}
.icon-tiktok-fill .path1:before {
  content: "\e933";
  color: rgb(55, 236, 230);
}
.icon-tiktok-fill .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-twitter:before {
  content: "\e935";
  color: #fff;
}
.icon-twitter-fill .path1:before {
  content: "\e936";
  color: rgb(55, 176, 251);
}
.icon-twitter-fill .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-twitter-outline:before {
  content: "\e938";
  color: #4aacd8;
}
.icon-twitter-outline-fill .path1:before {
  content: "\e939";
  color: rgb(55, 176, 251);
}
.icon-twitter-outline-fill .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-up:before {
  content: "\e93b";
  color: #4aacd8;
}
.icon-user:before {
  content: "\e93c";
  color: #4aacd8;
}
.icon-whatsapp-fill .path1:before {
  content: "\e93d";
  color: rgb(85, 234, 106);
}
.icon-whatsapp-fill .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-whatsapp-fill .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-youtube:before {
  content: "\e940";
  color: #fff;
}
.icon-youtube-fill .path1:before {
  content: "\e941";
  color: rgb(244, 13, 26);
}
.icon-youtube-fill .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}